/*@font-face {
  font-family: 'AKONY';
  src: url(../fonts/AKONY/AKONY.ttf) format('truetype');
}
@font-face {
  font-family: 'AqumTwo';
  src: url(../fonts/AqumTwo/Aqum2classic.otf) format('opentype');
}
@font-face {
  font-family: 'Tektur-Black';
  src: url(../fonts/Tektur/Tektur-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Tektur-Medium';
  src: url(../fonts/Tektur/Tektur-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Nizhegorodsky';
  src: url(../fonts/Nizhegorodsky/ST-Nizhegorodsky.otf) format('opentype');
  src: url(../fonts/Nizhegorodsky/ST-Nizhegorodsky.ttf) format('truetype');
}*/

@font-face {
  font-family: 'Unbounded';
  src: url(../fonts/Unbounded_Polkadot/TTF/Unbounded-Light.ttf) format('truetype');
  /*src: url(../fonts/Unbounded_Polkadot/TTF/Unbounded) format('truetype');*/
}